/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --dark-grey: #757575;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "DM Sans", sans-serif;
    font-size: 62.5%;
}
header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-style: normal;
    color: var(--soft-orange)
}
.header__button {
    position: absolute;
    left: calc(50% - 114px);
    top: calc(100% - 24px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main__exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.__backgroundImg {
    background-image: url(./assets/img/Bitcoin.svg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.main__exchange__title h2 {
    color: var(--black);
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 24px;
}
.main__exchange__title p {
    color: var(--dark-grey);
    font-size: 1.4rem;
    line-height: 18px;
}
.exchange__table1__container, .exchange__table2__container {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.exchange__table1__title {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 24.44px;
    margin: 48px 100px 12px 0;
}
.exchange__table1__info, .exchange__table2__info {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.exchange__table1__info table, .exchange__table2__info table {
    width: 100%;
    width: 100%;
}
.exchange__table1__info td, .exchange__table2__info td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    height: 40px;
}
.exchange__table1__info .table1--up-left-border, .exchange__table2__info .table2--up-left-border {
    border-radius: 15px 0 0 0;
}
.exchange__table1__info .table1--up-right-border, .exchange__table2__info .table2--up-right-border {
    border-radius: 0 15px 0 0;
}
.exchange__table1__info .table1--down-left-border, .exchange__table2__info .table2--down-left-border {
    border-radius: 0 0 0 15px;
}
.exchange__table1__info .table1--down-right-border, .exchange__table2__info .table2--down-right-border {
    border-radius: 0 0 15px 0;
}
.exchange__table1__info .table1--right, .exchange__table2__info .table2--right {
    color: var(--dark-grey);
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    height: 40px;
}
.trending {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 13px;
    vertical-align: middle;
    margin: 0 0 3px 10px;
}
.trending-up {
    background-image: url("./assets/icons/trending-up.svg");
}
.trending-down {
    background-image: url("./assets/icons/trending-down.svg");
}
.exchange__table1__update, .exchange__table2__update {
    display: flex;
    height: 31px;
    width: 226px;
    margin: 16px auto 0 auto;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.color-soft-orange {
    background-color: var(--soft-orange);
}
.color-soft-blue {
    background-color: var(--soft-blue);
}
.exchange__table2__title {
    color: var(--secondary-blue);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 24.44px;
    margin: 48px 90px 12px 0;
}

.main__products-container {
    position: relative;
    background-color: var(--black);
    padding: 20px 10px;
    width: 100%;
    height: auto;
    min-width: 320px;
}
.__batataImg {
    position: absolute;
    background-image: url("./assets/icons/batata.svg");
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
}
.products__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px auto 0 auto;
    text-align: center;
}
.products__title h2 {
    color: var(--just-white);
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.products__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-cards-container {
    width: 100%;
    height: auto;
}
.product-cards__details {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-cards__details .__card-logo {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
}
.__clockImg {
    background-image: url("./assets/icons/clock.svg");
}
.__eyeImg {
    background-image: url("./assets/icons/eye.svg");
}
.__dollarImg {
    background-image: url("./assets/icons/dollar-sign.svg");
}
.__checkImg {
    background-image: url("./assets/icons/check-circle.svg");
}
.product-cards__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-cards__body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}